.img-responsive {
  min-width: 450px !important;
  /* max-width: 400px !important; */
  /* max-height: 240px;
  min-height: 190px; */
  margin: 0.5rem;
}



@media only screen and (max-width: 625px) {
  .img-responsive {
    min-width: 230px !important;
    margin: 0.5rem;
  }
}
