.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}

.container {
  display: grid;
  /* grid-template-columns: 50px 50px; */
  grid-template-rows: auto;
  grid-template-areas:
    "one . two"
    ". three . ";
}
