.graphicImg {
    max-width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  @media only screen and (max-width : 582px) {

    .graphicImg{
      max-width: 150px;
    }
  }


  @media only screen and (max-width : 382px) {

    .graphicImg{
      max-width: 130px;
    }
  }

  @media only screen and (max-width : 350px) {

    .graphicImg{
      max-width: 90px;
    }
  }