form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

input,
textarea,
button,
p {
  padding: 5px;
  margin: 5px 5px;
}

.btn {
  width: 95px;
  font-size: 14px;
  margin: 0.5rem;
  background-color: rgb(194, 195, 196);
}

